.github {
  padding: 0 8px;

  @include for-mobile {
    .number.large-x.underline {
      font-size: map-get($font-size, medium-l);
    }
  }
}
.github > h2 { margin-bottom: 0; }
.github-stat {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;

  @include for-mobile {
    display: block;
    text-align: center;

    & > div {
      margin-bottom: 3em;
    }
  }
}

#github-contribution {
  width: 95%;
  margin-left: 3em;
  height: 350px;

  @include for-mobile { margin-left: 1em; }
}
