.tokyo,
.kyoto {
  margin-bottom: 3em;
}
.tokyo > .image-container,
.kyoto > .image-container {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;

  cursor: move;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }

  figure {
    white-space: normal;
    width: 75%;
    display: inline-block;
    padding: 10px;

    @include for-desktop {
      width: 45%;
    }
    & > .image {
      padding-bottom: 55%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    & > figcaption {
      font-size: map-get($font-size, small);
      color: c(text-dark);
      font-style: italic;
    }
  }
}
