$base-font-size: 18px;
$lineheight-base: 1.65;
$heading-margin-bottom: 1em;

@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700|Roboto+Condensed');

$font: (
  serif: (Georgia, Cambria, "Times New Roman", Times, serif, "SongTi TC"),
  sans: ("Roboto Condensed", "-apple-system", BlinkMacSystemFont, "PingFang TC", "微軟正黑體", sans-serif),
  number: ("Oswald"),
);


$font-size: (
  extra-large: 14.552rem,
  x-large: 11.642rem,
  large-x: 5.96rem,
  large-l: 4.768rem,
  large-m: 3.815rem,
  large-s: 3.052rem,
  medium-l: 2.441rem,
  medium-m: 1.953rem,
  medium-s: 1.563rem,
  normal: 1.25rem,
  text: 1rem,
  small: 0.8rem,
  x-small: 0.64rem,
);

@each $key, $val in $font-size {
  .#{$key} {
    font-size: $val;
  }
}
